@import "styles/breakpoints";
@import "sass-mq";

.wrapper {
  display: grid;
  grid-template: auto 1fr auto / auto;
  position: relative;
}

.header {
  background: #0dbfdb;
  position: sticky;
  top: 0;
  transition: 200ms;
  z-index: 1;
  @include mq($until: tablet) {
    padding: 8px 0;
  }
  @include mq($from: tablet) {
    padding: 24px 0;
  }
}

.narrowHeader {
  padding-bottom: 8px;
  padding-top: 8px;
}

.headerInner {
  align-items: center;
  display: grid;
  grid-template: auto / auto 1fr auto auto;
  margin: 0 auto;
  max-width: 1280px;
  @include mq($until: tablet) {
    gap: 8px;
    padding: 0 8px;
  }
  @include mq($from: tablet) {
    gap: 16px;
    padding: 0 24px;
  }
}

.heading1 {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.logoAnchor {
  height: calc(184px * 0.22);
  position: relative;
  transition: 200ms;
  width: calc(1220px * 0.22);
  @include mq($until: tablet) {
    height: 0 !important;
    overflow: hidden;
    width: 0 !important;
  }
}

.narrowHeader .logoAnchor {
  height: calc(184px * 0.15);
  width: calc(1220px * 0.15);
}

.sortLabel {
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 4px;
  justify-self: flex-end;
  padding: 4px 4px 4px 8px;
  position: relative;
}

.checkbox {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.formInner {
  align-items: center;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 4px #aaa;
  display: grid;
  grid-template-rows: 32px;
  padding: 0 4px 0 16px;
  @include mq($until: tablet) {
    grid-template-columns: 120px 32px;
  }
  @include mq($from: tablet) {
    grid-template-columns: 160px 32px;
  }
}

.input2 {
  outline: none;
}

.searchButton {
  align-items: center;
  display: flex;
  justify-content: center;
}

.searchIcon {
  color: #0dbfdb;
}

.filterButton {
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  gap: 4px;
  padding: 4px 4px 4px 8px;
}

.filterWrapper {
  background: #0dbfdb;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
}

.open {
  height: auto;
  overflow: visible;
}

.filterInner {
  align-items: center;
  border-top: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1280px;
  padding-bottom: 24px;
  padding-top: 24px;
  @include mq($until: tablet) {
    padding-left: 8px;
    padding-right: 8px;
  }
  @include mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.label {
  align-items: center;
  display: flex;
  gap: 4px;
}

.input {
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: 0;
  padding: 2px 4px;
}

.select {
  position: relative;
}

.options {
  background: #0dbfdb;
  border: 1px solid #fff;
  margin: 4px 0;
  max-height: 220px;
  overflow: hidden scroll;
  padding: 4px 8px;
  position: absolute;
  right: 0;
  width: 220px;
  z-index: 1;
}

.option {
  padding: 4px 0;
}

.optionButton {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template: auto / auto 1fr;
  text-align: left;
  width: 100%;
}

.dateRangeWrapper {
  align-items: center;
  display: flex;
  gap: 8px;
}

.dateInput {
  border-bottom: 1px solid #fff;
  color: #fff;
  min-width: 84px;
  outline: none;
  padding: 2px 4px;
}

.searchButton2 {
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  gap: 4px;
  padding: 4px 8px;
}

.mainInner {
  margin: 0 auto;
  max-width: 1280px;
  @include mq($until: tablet) {
    padding: 8px;
  }
  @include mq($from: tablet) {
    padding: 24px;
  }
}

.searchWordWrapper {
  color: #72696a;
  display: flex;
  gap: 16px;
  @include mq($until: tablet) {
    padding-bottom: 8px;
  }
  @include mq($from: tablet) {
    padding-bottom: 24px;
  }
}

.dateRangeWrapper2 {
  align-items: center;
  display: flex;
  gap: 4px;
}

.categoryWrapper,
.staffsWrapper,
.dateWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
}

.closeButton {
  display: flex;
}

.list {
  display: grid;
  overflow: hidden !important;
  padding: 0 0 72px;
  position: relative;
  @include mq($until: tablet) {
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
  @include mq($from: tablet, $until: desktop) {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq($from: desktop, $until: wide) {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq($from: wide) {
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.loaderWrapper {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.item {
  gap: 8px;
  position: relative;
  @include mq($until: tablet) {
    display: grid;
    grid-template: auto / 120px 1fr;
  }
  @include mq($from: tablet) {
    display: flex;
    flex-direction: column;
    padding: 0 0 8px;
  }
}

.item::after {
  background: #aaa;
  bottom: -8px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}

.thumbnailWrapper {
  position: relative;
}

.thumbnailWrapper::before {
  content: "";
  display: block;
  padding: 56.25% 0 0;
}

.detailWrapper {
  align-items: center;
  display: grid;
  @include mq($until: tablet) {
    gap: 4px 0;
  }
  @include mq($from: tablet) {
    gap: 8px 0;
  }
}

.categoryAnchor {
  color: #fff;
  font-size: 1rem;
  grid-column: 1 / 2;
  justify-self: flex-start;
  padding: 3px 10px;
}

.fourFrame {
  background: #00a2e6;
}

.radio {
  background: #00a810;
}

.video {
  background: #d4b537;
}

.jimocoro {
  background: #e2007f;
}

.onigiri {
  background: #76fb60;
  color: #000;
}

.bros {
  background: #ad27f3;
}

.specialFeature {
  background: #dd0101;
}

.advertorial {
  background: #e8ba13;
}

.notice {
  background: #e2007f;
}

.summary {
  background: #f9daad;
  color: #000;
}

.dateText {
  color: #72696a;
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: 2 / 3;
  justify-self: flex-end;
}

.heading2Anchor {
  grid-column: 1 / 3;
}

.heading2 {
  @include mq($until: tablet) {
    font-size: 1.4rem;
  }
  @include mq($from: tablet) {
    font-size: 1.6rem;
  }
}

.staffList {
  display: flex;
  gap: 8px;
  grid-column: 1 / 3;
  justify-content: flex-end;
}

.staffAnchor {
  border-bottom: 1px solid #72696a;
  color: #72696a;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 0 2px;
}

.footer {
  background: #dd0101;
  @include mq($until: tablet) {
    padding: 8px 0;
  }
  @include mq($from: tablet) {
    padding: 24px 0;
  }
}

.footerInner {
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1280px;
  @include mq($until: tablet) {
    padding: 0 8px;
  }
  @include mq($from: tablet) {
    padding: 0 24px;
  }
}
